body {
    padding-top: 15px;
    background-color: #19193d;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
    color: inherit;
}

img {
  display: block;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.content {
    margin: 0 auto 40px;
    max-width: 760px;
    background-color: #edf0f6;
    height: 410px;
}

.content__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 15px;
}

.title {
    text-align: center;
    color: #33373c;
}

.pricing {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pricing-column {
    flex-basis: calc(100% / 4);
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
}

.pricing-column:hover {
    transform: scaleY(1.05);
    border: 2px solid #9fcd2e;
}

.pricing-column:hover .btn {
    background-color: #9fcd2e;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: translateY(1px);
  }  

.pricing-column__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 12px;
    overflow: hidden;
}

.pricing-column__wrapper--popular {
    position: absolute;
    top: 11px;
    right: -21px;
    transform: rotate(45deg);
    padding: 3px 18px;
    color: #fff;
    background-color: #e53e50;
    font-size: 10px;


    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.pricing-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.pricing-info__title {
    color: #33373c;
}

.cost {
    color: #1b3147;
    
}

.cost__value {
    font-size: 48px;
}

.cost__period {
    color: #787878;
}

.pricing-list {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    color: #5c5c5c;
    font-size: 12px;
}

.pricing-list__icon {
    margin-right: 3px;
    padding: 2px;
    border: 1px solid #9fcd2e;
    border-radius: 50%;
    fill: #9fcd2e;
}


.btn {
    display: inline-block;
    padding: 7px 46px;
    font-size: 9px;
    background-color: transparent;
    border: 1px solid #d6dbdd;
    border-radius: 5px;
    color: #2e9eda;  
    cursor: pointer;

    transition: all 200ms ease;
}

@media (min-width: 769px) and (max-width: 1023px) {
    .content {
        height: unset;
    }

    .content__wrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 10px;
    }

    .pricing {
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .pricing-column {
        flex-basis: calc((100% - 10px) / 2);
        height: 245px;
    }

    .pricing-column__wrapper {
        justify-content: space-between;
        padding: 8px;
    }

    .pricing-column__wrapper--popular {
        font-size: 8px;
    }
    
    .pricing-info {
        row-gap: 20px;
    }

    .cost__value {
        font-size: 38px;
    }

    .pricing-list {
        row-gap: 9px;
        font-size: 10px;
    }

    .btn {
        display: inline-block;
        padding: 4px 32px;
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .content {
      row-gap: 20px;
      max-width: 380px;     
      height: unset;
    }

    .title {
        font-size: 18px;
    }

    .pricing {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .pricing-column {
        width:100%;
    }
}

/*------------------Table-------------------------*/

.table-section {
    padding: 15px 0;
    background-color: #0c4c74;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.list {
    display: flex;
    column-gap: 5px;
}

.list-btn {
    padding: 2px 3px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.list-btn:hover {
    opacity: 0.8;
}

.list-btn:active {
    transform: translateY(1px);
}

.table-title {
    text-align: center;
    color: #fff;
}

.table {
    border-collapse: collapse;
    width: 80%;
    color: #fff;
  }
  
  .table__heading,
  .table__data {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
  }
  
  .table__heading {
    cursor: pointer;
  }
  
  .table__heading:hover {
    color: #000;
    background-color: #ddd;
  }
  
  .table__body .table__road:nth-child(odd) {
    background-color: #108cc6;
  }
  
  .table__button {
    padding: 4px 8px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;

    transition: all 200ms ease;
  }

  .table__button:hover {
    background-color: #fff;
    color: #000;
  }

  .table__button:active {
    transform: translateY(1px);
  }  

  .button {
    display: inline-block;
    padding: 10px 46px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #d6dbdd;
    border-radius: 5px;
    color: #fff;  
    cursor: pointer;

    transition: all 200ms ease;
  }

  .button:hover {
    background-color: #fff;
    color: #000;
  }

  .button:active {
    transform: translateY(2px);
  }  

  /*----Form----------*/

  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 5px;
  }

  .form__iput--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form__label {
    font-weight: bold;
  }
  
 .form__input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form__button{
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 200ms ease;
  }
  
  .form__button:hover {
    background-color: #0069d9;
  }
  
  /*-----------------Backdrop---------*/

  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  
    opacity: 1;
    transition: opacity 250ms ease;
  
    overflow-y: scroll;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }

  /*-----------------Modal---------*/

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms ease;
  }

  .modal__close--btn {
    position: absolute;
    top: 4px;
    right: 4px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #0069d9;
    border-radius: 50%;
    cursor: pointer;

    transition: color 200ms ease;
  }

  .modal__close--btn:hover {
    color: #0069d9;
  }

  .is-hidden-btn {
    display: none;
  }